<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <title>{{title}}</title>
    <meta charset="UTF-8"/>
    {% if description %}
      <meta name="description" content="{{description}}"/>
    {% endif %}
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>
    <link rel="stylesheet" href="/style.css?v={% version %}"/>
    {%- block head %}{%- endblock %}
  </head>
  <body class="flex flex-col min-h-full">
    {% include "header.njk" %}
    <main class="w-11/12 max-w-4xl flex-1 mx-auto">
      {% if title %}
        <h1 class="text-2xl text-gray-700 mb-4 font-bold text-center">{{title}}</h1>
      {% endif %}
      {% block content %}
        {{ content | safe }}
      {% endblock %}
    </main>
    {% include "footer.njk" %}
    <script src="/js/alpine.js?v={% version %}"></script>
  </body>
</html>