<footer class="p-2 px-6 md:p-4">
  <div class="mx-auto sm:px-0 md:px-4 lg:px-4 sm:w-full md:w-11/12 md:max-w-4xl flex flex-col sm:flex-row sm:justify-between">
    <span class="text-gray-600 text-sm">&copy; 2020 Joshua Zeltman</span>
    <span class="text-gray-600 text-sm">Site Under Construction. Coming Soon...</span>
  </div>
</footer>