<header class="p-4">
  <div class="mx-auto px-6 sm:w-full md:w-11/12 sm:max-w-4xl flex justify-between">
    <a href="/" class="text-gray-700 hover:text-gray-900 font-bold">jtz</a>
    {# <button class="w-6 h-6 text-gray-700 hover:text-gray-900">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
      </svg>
    </button> #}
  </div>
</header>